/*  GENERAL STYLES */
*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

img {
  max-width: 100%;
}

main {
  background-image: url(../images/Dragonflight.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}
/* /GENERAL STYLES */

/* ----------------------- MOBILE FIRST STYLES ------------------------- */

/* MAIN NAV */
.nav-container {
  position: relative;
  display: block;
  z-index: 99;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: tomato;
  color: white;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
}

.nav-ul {
  display: none;
}

.nav-links {
  display: flex;
  position: fixed;
  padding: 0;
  right: 0;
  height: 60vh;
  top: 8vh;
  background-color: tomato;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  transform: scale(0,1);
  transform-origin: right;
  transition: transform .5s ease-in-out;
  z-index: 89;
  border-radius: 0 0 0 30px;
}

.nav-links li {
  margin: 20px 20px;
  opacity: 0;
  text-align: center;
}

.nav-links a {
  color: white;
  font-size: larger;
  text-decoration: none;
  text-align: center;
}

.burger {
  display: block;
}

.nav-active {
  transform: scale(1,1); 
  transform-origin: right;
  transition: transform .5s ease-in-out;
 }

.burger div {
  width: 30px;
  height: 3px;
  background-color: white; 
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
   
 }
 /* /MAIN NAV */

 /* MAIN SECTION */
.main-section {
  position: relative;
  margin-top: 70px;
}

.overlay {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  opacity: 0;
  display: none;
  transition: opacity .5s ease-in-out;
  z-index: 1;
}

.overlay-visible {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  opacity: 1;
  display: block;
  transition: opacity .5s ease-in;
  z-index: 1;
}

.race-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}

.video-container {
  margin: auto;
  width: 400px;
  height: 225px;
  overflow-y: hidden;
}

footer {
  color: white;
  background-color: tomato;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 99;
}

.accordion {
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: larger;
  background-color: rgb(82, 82, 255);
  color: white;
}

.accordion-active,
.accordion:hover {
  background-color: rgb(241, 115, 115);
}

.accordion::after {
  content: '+';
  float: right;
}

.panel {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  margin-top: 13px;
  padding: 5px;
}

.desc-container {
  margin-right: 10px;
}

.img-container {
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.img-hide {
  opacity: 0;
  transition: opacity .4s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.img-show {
  opacity: 1;
}
/* /MAIN SECTION */

/* MEDIA QUERIES */
@media screen and (min-width:768px) {
   nav a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .nav-ul {
    display: flex;
    font-size: large;
    justify-content: space-around;
    width: 60%;
    z-index: 99;
    padding: 0;
    margin: 0;
  }
  
  .nav-links {
    display: none;
  }
  
  nav li {
    list-style: none;
    margin: 0 20px 0 0;
    text-align: center;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }

  .nav-active {
    transform: scale(1,1); 
    transform-origin: right;
    transition: transform .5s ease-in-out;
   }
}

@media screen and (min-width:1024px) {
  .video-container {
    margin: auto;
    width: 560px;
    height: 315px;
    overflow-y: hidden;
  }
}