/*  GENERAL STYLES */
*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

img {
  max-width: 100%;
}

body {
  background-image: url(../images/Dragonflight.png);
  background-repeat: no-repeat;
  background-size: auto;

}
/* /GENERAL STYLES */

/* ----------------------- MOBILE FIRST STYLES ------------------------- */

/* MAIN NAV */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: tomato;
  color: white;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  font-size: large;
  justify-content: space-around;
  width: 60%;
  z-index: 99;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin: 0 20px 0 0;
  text-align: center;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: white; 
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
   
 }
 /* /MAIN NAV */

 /* MAIN SECTION */
.main-section {
  position: relative;
}

.overlay {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  opacity: 0;
  display: none;
  transition: opacity .5s ease-in-out;
}

.overlay-visible {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  opacity: 1;
  display: block;
  transition: opacity .5s ease-in;
}


.video-container {
  margin: auto;
  width: 720px;
  height: 405px;
  overflow-y: hidden;
}

footer {
  position: relative;
  bottom: 0;
  background-color: tomato;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /MAIN SECTION */

/* MEDIA QUERIES */
@media screen and (max-width:1024px) {
  .nav-links{
    width: 60%;
  }

  .video-container {
    margin: auto;
    width: 400px;
    height: 225px;
    overflow-y: hidden;
  }
}

@media screen and (max-width:768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 60vh;
    top: 8vh;
    background-color: tomato;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 50%;
    transform: scale(0,1);
    transform-origin: right;
    transition: transform .5s ease-in-out;
    z-index: 99;
  }
  .nav-links li {
    margin: 50px 20px;
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: scale(1,1); 
    transform-origin: right;
    transition: transform .5s ease-in-out;
   }
}

